In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy.stats import zscore, stats
import datetime

In [2]:
# Read the dataset
df = pd.read_csv("./SydneyHousePrices.csv")

In [3]:
# View the data
df.head()

,Date,Id,suburb,postalCode,sellPrice,bed,bath,car,propType
0,2019-06-19,1,Avalon Beach,2107,1210000,4.0,2,2.0,house
1,2019-06-13,2,Avalon Beach,2107,2250000,4.0,3,4.0,house
2,2019-06-07,3,Whale Beach,2107,2920000,3.0,3,2.0,house
3,2019-05-28,4,Avalon Beach,2107,1530000,3.0,1,2.0,house
4,2019-05-22,5,Whale Beach,2107,8000000,5.0,4,4.0,house

In [4]:
df.describe()

,Id,postalCode,sellPrice,bed,bath,car
count,199504.00000,199504.000000,1.995040e+05,199350.000000,199504.000000,181353.000000
mean,99752.50000,2196.379155,1.269776e+06,3.516479,1.890669,1.936224
std,57591.98839,193.053467,6.948239e+06,1.066555,0.926001,1.060237
min,1.00000,2000.000000,1.000000e+00,1.000000,1.000000,1.000000
25%,49876.75000,2082.000000,7.200000e+05,3.000000,1.000000,1.000000
50%,99752.50000,2144.000000,9.850000e+05,3.000000,2.000000,2.000000
75%,149628.25000,2211.000000,1.475000e+06,4.000000,2.000000,2.000000
max,199504.00000,4878.000000,2.147484e+09,99.000000,99.000000,41.000000

In [5]:
# Filter our unwanted columns
df = df.loc[:, ~df.columns.isin(['Id', 'Date', "postalCode"])]
df

               suburb  sellPrice  bed  bath  car   propType
0        Avalon Beach    1210000  4.0     2  2.0      house
1        Avalon Beach    2250000  4.0     3  4.0      house
2         Whale Beach    2920000  3.0     3  2.0      house
3        Avalon Beach    1530000  3.0     1  2.0      house
4         Whale Beach    8000000  5.0     4  4.0      house
...               ...        ...  ...   ...  ...        ...
199499       Illawong    1900000  5.0     3  7.0      house
199500       Illawong     980000  4.0     3  2.0      house
199501  Alfords Point     850000  4.0     2  2.0      house
199502       Illawong     640000  3.0     2  2.0  townhouse
199503  Alfords Point    1611000  5.0     4  3.0      house

[199504 rows x 6 columns]

In [30]:
# Check if column is date and parse 
# df['Date'] = pd.to_datetime(df['Date'])

In [6]:
# Check for null values

def containsOneOrTwo(colName):
    return 1 in set(df[colName].unique()) or 2 in set(df[colName].unique())

columnNames = df.columns
for col in columnNames:
    if (containsOneOrTwo(col)):
        # Replace null values with 0
        df[col] = df[col].fillna(0)

In [ ]:
# remove outliers
# z_scores = stats.zscore(df)

# print(z_scores)
# abs_z_scores = np.abs(z_scores)
# filtered_entries = (abs_z_scores < 3).all(axis=1)
# print(filtered_entries)
# new_df = df[filtered_entries]
# new_df

In [7]:
# Convert non numerical columns to categorical values
cols = []
for col in df.columns:
    if (df[col].dtype != 'float64' and df[col].dtype != 'int64'):
        if (np.issubdtype(df[col].dtype, np.datetime64) != True):
              cols.append(col)     

newDf = pd.get_dummies(data = df, columns=cols)
# df = df.loc[:, df.columns != 'suburb']
# df.columns
# newDf = newDf.loc[:, newDf.columns != ['suburb', 'propType']]
newDf.loc[:, ~newDf.columns.isin(cols)]

,sellPrice,bed,bath,car,suburb_Abbotsbury,suburb_Abbotsford,suburb_Agnes Banks,suburb_Airds,suburb_Alexandria,suburb_Alfords Point,...,suburb_Yowie Bay,suburb_Zetland,propType_acreage,propType_duplex/semi-detached,propType_house,propType_other,propType_terrace,propType_townhouse,propType_villa,propType_warehouse
0,1210000,4.0,2,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,2250000,4.0,3,4.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2920000,3.0,3,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1530000,3.0,1,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,8000000,5.0,4,4.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199499,1900000,5.0,3,7.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
199500,980000,4.0,3,2.0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
199501,850000,4.0,2,2.0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
199502,640000,3.0,2,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
199503,1611000,5.0,4,3.0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [36]:
# remove outliers
# z_scores = stats.zscore(newDf)

# print(z_scores)
# abs_z_scores = np.abs(z_scores)
# filtered_entries = (abs_z_scores < 3).all(axis=1)
# print(filtered_entries)
# new_df = df[filtered_entries]
# new_df

[[-0.46297733 -0.00860311  0.45416954 ... -0.28694489 -0.1715123
  -0.01416112]
 [-0.46297733  0.14107548  0.45416954 ... -0.28694489 -0.1715123
  -0.01416112]
 [-0.46297733  0.23750302 -0.47988237 ... -0.28694489 -0.1715123
  -0.01416112]
 ...
 [ 0.19487316 -0.06041492  0.45416954 ... -0.28694489 -0.1715123
  -0.01416112]
 [ 0.19487316 -0.09063848 -0.47988237 ...  3.48498979 -0.1715123
  -0.01416112]
 [ 0.19487316  0.0491095   1.38822145 ... -0.28694489 -0.1715123
  -0.01416112]]
[False False False ... False False False]

Empty DataFrame
Columns: [suburb, postalCode, sellPrice, bed, bath, car, propType]
Index: []

In [ ]:
# df=pd.DataFrame({'data':['bed', 'bath']})
# df['z_score']=stats.zscore(df['data'])

In [ ]:
# Identify the predictive parameters

In [8]:
# test train split


X = newDf.loc[:, ~newDf.columns.isin(['sellPrice'])]
y = newDf['sellPrice']

import sklearn.model_selection as model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, train_size=0.65,test_size=0.35, random_state=101)
print ("X_train: ", X_train)
print ("y_train: ", y_train)
print("X_test: ", X_test)
print ("y_test: ", y_test)

X_train:          bed  bath  car  suburb_Abbotsbury  suburb_Abbotsford  \
85660   3.0     1  1.0                  0                  0
163168  4.0     2  1.0                  0                  0
31484   4.0     2  2.0                  0                  0
147486  4.0     3  4.0                  0                  0
197965  4.0     2  2.0                  0                  0
...     ...   ...  ...                ...                ...
151535  3.0     2  2.0                  0                  0
55293   4.0     1  1.0                  0                  0
49751   3.0     1  2.0                  0                  0
136767  4.0     2  2.0                  0                  0
176991  4.0     1  2.0                  0                  0

        suburb_Agnes Banks  suburb_Airds  suburb_Alexandria  \
85660                    0             0                  0
163168                   0             0                  0
31484                    0             0                  0
147486                   0             0                  0
197965                   0             0                  0
...                    ...           ...                ...
151535                   0             0                  0
55293                    0             0                  0
49751                    0             0                  0
136767                   0             0                  0
176991                   0             0                  0

        suburb_Alfords Point  suburb_Allambie Heights  ...  suburb_Yowie Bay  \
85660                      0                        0  ...                 0
163168                     0                        0  ...                 0
31484                      0                        0  ...                 0
147486                     0                        0  ...                 0
197965                     0                        0  ...                 0
...                      ...                      ...  ...               ...
151535                     0                        0  ...                 0
55293                      0                        0  ...                 0
49751                      0                        0  ...                 0
136767                     0                        0  ...                 0
176991                     0                        0  ...                 0

        suburb_Zetland  propType_acreage  propType_duplex/semi-detached  \
85660                0                 0                              0
163168               0                 0                              0
31484                0                 0                              0
147486               0                 0                              0
197965               0                 0                              0
...                ...               ...                            ...
151535               0                 0                              0
55293                0                 0                              0
49751                0                 0                              0
136767               0                 0                              1
176991               0                 0                              0

        propType_house  propType_other  propType_terrace  propType_townhouse  \
85660                1               0                 0                   0
163168               1               0                 0                   0
31484                1               0                 0                   0
147486               1               0                 0                   0
197965               1               0                 0                   0
...                ...             ...               ...                 ...
151535               1               0                 0                   0
55293                1               0                 0                   0
49751                1               0                 0                   0
136767               0               0                 0                   0
176991               1               0                 0                   0

        propType_villa  propType_warehouse
85660                0                   0
163168               0                   0
31484                0                   0
147486               0                   0
197965               0                   0
...                ...                 ...
151535               0                   0
55293                0                   0
49751                0                   0
136767               0                   0
176991               0                   0

[129677 rows x 696 columns]
y_train:  85660      645000
163168     653000
31484      680000
147486     866500
197965     650000
           ...
151535     705000
55293     1118000
49751      745000
136767     852000
176991    1800000
Name: sellPrice, Length: 129677, dtype: int64
X_test:          bed  bath  car  suburb_Abbotsbury  suburb_Abbotsford  \
79340   4.0     1  1.0                  0                  0
189035  3.0     1  2.0                  0                  0
170801  3.0     2  3.0                  0                  0
61819   6.0     4  2.0                  0                  0
58308   5.0     2  2.0                  0                  0
...     ...   ...  ...                ...                ...
125664  4.0     2  2.0                  0                  0
123135  3.0     2  1.0                  0                  0
188088  4.0     2  0.0                  0                  0
103124  2.0     1  2.0                  0                  0
17288   4.0     3  2.0                  0                  0

        suburb_Agnes Banks  suburb_Airds  suburb_Alexandria  \
79340                    0             0                  0
189035                   0             0                  0
170801                   0             0                  0
61819                    0             0                  0
58308                    0             0                  0
...                    ...           ...                ...
125664                   0             0                  0
123135                   0             0                  0
188088                   0             0                  0
103124                   0             0                  0
17288                    0             0                  0

        suburb_Alfords Point  suburb_Allambie Heights  ...  suburb_Yowie Bay  \
79340                      0                        0  ...                 0
189035                     0                        0  ...                 0
170801                     0                        0  ...                 0
61819                      0                        0  ...                 0
58308                      0                        0  ...                 0
...                      ...                      ...  ...               ...
125664                     0                        0  ...                 0
123135                     0                        0  ...                 0
188088                     0                        0  ...                 0
103124                     0                        0  ...                 0
17288                      0                        0  ...                 0

        suburb_Zetland  propType_acreage  propType_duplex/semi-detached  \
79340                0                 0                              0
189035               0                 0                              0
170801               0                 0                              0
61819                0                 0                              0
58308                0                 0                              0
...                ...               ...                            ...
125664               0                 0                              0
123135               0                 0                              0
188088               0                 0                              0
103124               0                 0                              0
17288                0                 0                              0

        propType_house  propType_other  propType_terrace  propType_townhouse  \
79340                1               0                 0                   0
189035               1               0                 0                   0
170801               1               0                 0                   0
61819                1               0                 0                   0
58308                1               0                 0                   0
...                ...             ...               ...                 ...
125664               1               0                 0                   0
123135               1               0                 0                   0
188088               1               0                 0                   0
103124               1               0                 0                   0
17288                1               0                 0                   0

        propType_villa  propType_warehouse
79340                0                   0
189035               0                   0
170801               0                   0
61819                0                   0
58308                0                   0
...                ...                 ...
125664               0                   0
123135               0                   0
188088               0                   0
103124               0                   0
17288                0                   0

[69827 rows x 696 columns]
y_test:  79340      620500
189035     720000
170801    1080000
61819     2120000
58308      822000
           ...
125664    1400000
123135     655000
188088     528000
103124    1200000
17288      970000
Name: sellPrice, Length: 69827, dtype: int64

In [10]:
# Train the model with XGBoost
import xgboost as xgb
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [24]:
param = {'max_depth': 3, 'eta': 1, 'objective': 'reg:squarederror'}
param['nthread'] = 6
param['eval_metric'] = 'mae'
evallist = [(dtest, 'eval'), (dtrain, 'train')]

num_round = 100
bst = xgb.train(param, dtrain, num_round, evallist)
bst.save_model('house-prices.model')

[0]	eval-mae:579245.25000	train-mae:502918.62500
[1]	eval-mae:558143.12500	train-mae:482134.28125
[2]	eval-mae:550905.75000	train-mae:474206.65625
[3]	eval-mae:546223.75000	train-mae:469493.46875
[4]	eval-mae:541955.37500	train-mae:465376.84375
[5]	eval-mae:534723.75000	train-mae:457960.62500
[6]	eval-mae:529641.25000	train-mae:452930.90625
[7]	eval-mae:527886.25000	train-mae:451171.78125
[8]	eval-mae:522780.81250	train-mae:446596.40625
[9]	eval-mae:520151.46875	train-mae:443376.71875
[10]	eval-mae:516573.06250	train-mae:440160.31250
[11]	eval-mae:514067.50000	train-mae:437724.90625
[12]	eval-mae:511264.28125	train-mae:434442.84375
[13]	eval-mae:508395.03125	train-mae:431631.75000
[14]	eval-mae:506319.50000	train-mae:429458.40625
[15]	eval-mae:503186.62500	train-mae:426478.96875
[16]	eval-mae:501337.34375	train-mae:424371.75000
[17]	eval-mae:498560.81250	train-mae:421553.90625
[18]	eval-mae:496878.87500	train-mae:419581.43750
[19]	eval-mae:494972.87500	train-mae:417539.09375
[20]	eval-mae:492366.09375	train-mae:414554.03125
[21]	eval-mae:489823.06250	train-mae:412070.06250
[22]	eval-mae:487738.93750	train-mae:409767.34375
[23]	eval-mae:486219.62500	train-mae:407988.34375
[24]	eval-mae:483690.59375	train-mae:405476.37500
[25]	eval-mae:482059.37500	train-mae:403650.68750
[26]	eval-mae:479916.84375	train-mae:401478.68750
[27]	eval-mae:478180.46875	train-mae:399465.37500
[28]	eval-mae:476873.46875	train-mae:397818.28125
[29]	eval-mae:475445.18750	train-mae:396014.34375
[30]	eval-mae:474346.62500	train-mae:394587.06250
[31]	eval-mae:472684.25000	train-mae:392785.43750
[32]	eval-mae:470933.81250	train-mae:390657.78125
[33]	eval-mae:469493.43750	train-mae:389104.31250
[34]	eval-mae:468923.93750	train-mae:388226.59375
[35]	eval-mae:467164.25000	train-mae:386712.09375
[36]	eval-mae:465063.43750	train-mae:384612.18750
[37]	eval-mae:463276.46875	train-mae:382973.71875
[38]	eval-mae:461702.53125	train-mae:381440.43750
[39]	eval-mae:460278.53125	train-mae:379831.96875
[40]	eval-mae:459003.31250	train-mae:378547.59375
[41]	eval-mae:457641.40625	train-mae:377162.43750
[42]	eval-mae:457065.96875	train-mae:376258.78125
[43]	eval-mae:455617.59375	train-mae:374824.37500
[44]	eval-mae:454581.84375	train-mae:373648.00000
[45]	eval-mae:453288.68750	train-mae:372239.87500
[46]	eval-mae:451547.59375	train-mae:370719.84375
[47]	eval-mae:450821.00000	train-mae:369775.31250
[48]	eval-mae:449565.68750	train-mae:368660.65625
[49]	eval-mae:448616.56250	train-mae:367663.46875
[50]	eval-mae:447678.75000	train-mae:366455.93750
[51]	eval-mae:446980.34375	train-mae:365878.78125
[52]	eval-mae:446128.87500	train-mae:364591.71875
[53]	eval-mae:444956.12500	train-mae:363530.00000
[54]	eval-mae:444220.12500	train-mae:362663.15625
[55]	eval-mae:443881.90625	train-mae:362082.43750
[56]	eval-mae:442948.03125	train-mae:360962.06250
[57]	eval-mae:441944.59375	train-mae:359864.37500
[58]	eval-mae:441124.06250	train-mae:358981.09375
[59]	eval-mae:439892.93750	train-mae:357960.40625
[60]	eval-mae:439402.34375	train-mae:357313.46875
[61]	eval-mae:438586.56250	train-mae:356406.46875
[62]	eval-mae:437806.75000	train-mae:355573.53125
[63]	eval-mae:436876.56250	train-mae:354629.71875
[64]	eval-mae:435853.40625	train-mae:353780.12500
[65]	eval-mae:434938.56250	train-mae:352735.56250
[66]	eval-mae:434309.06250	train-mae:351972.71875
[67]	eval-mae:433945.71875	train-mae:351378.00000
[68]	eval-mae:433109.40625	train-mae:350534.78125
[69]	eval-mae:432238.00000	train-mae:349708.12500
[70]	eval-mae:431600.03125	train-mae:348929.06250
[71]	eval-mae:431500.00000	train-mae:348632.90625
[72]	eval-mae:431325.28125	train-mae:348374.75000
[73]	eval-mae:430761.43750	train-mae:347779.09375
[74]	eval-mae:429996.71875	train-mae:347062.71875
[75]	eval-mae:429314.00000	train-mae:346407.34375
[76]	eval-mae:428874.84375	train-mae:345917.21875
[77]	eval-mae:428038.53125	train-mae:345131.90625
[78]	eval-mae:427353.71875	train-mae:344441.93750
[79]	eval-mae:426945.21875	train-mae:343811.40625
[80]	eval-mae:426426.68750	train-mae:343286.75000
[81]	eval-mae:426007.28125	train-mae:342798.43750
[82]	eval-mae:425344.37500	train-mae:342211.84375
[83]	eval-mae:424712.28125	train-mae:341561.50000
[84]	eval-mae:424428.21875	train-mae:341279.40625
[85]	eval-mae:423341.00000	train-mae:340307.62500
[86]	eval-mae:422791.34375	train-mae:339562.87500
[87]	eval-mae:422873.18750	train-mae:339466.78125
[88]	eval-mae:422321.62500	train-mae:338977.62500
[89]	eval-mae:421774.03125	train-mae:338499.90625
[90]	eval-mae:421373.34375	train-mae:338034.03125
[91]	eval-mae:421011.28125	train-mae:337816.18750
[92]	eval-mae:420385.90625	train-mae:337211.37500
[93]	eval-mae:420091.75000	train-mae:336856.06250
[94]	eval-mae:419673.25000	train-mae:336405.25000
[95]	eval-mae:419209.78125	train-mae:336026.31250
[96]	eval-mae:418719.12500	train-mae:335474.59375
[97]	eval-mae:418441.18750	train-mae:335154.90625
[98]	eval-mae:418003.21875	train-mae:334734.59375
[99]	eval-mae:417646.06250	train-mae:334282.96875

In [ ]:
# bst = xgb.Booster({'nthread': 4})  # init model
# bst.load_model('house-prices.model')  # load data